<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page.title ? `${page.title} | ` : '' %><%= siteTitle %></title>
  <meta name="description" content="<%= page.description || siteDescription %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="<%= rootPath %>/assets/favicon.ico" />
  <link rel="stylesheet" href="<%= rootPath %>/assets/easion/css/easion.css">
  <link rel="stylesheet" href="<%= rootPath %>/assets/easion/css/easion-custom.css">
</head>

<body>
  <div class="dash">
    <div class="dash-nav dash-nav-dark">
      <header>
        <a href="#!" class="menu-toggle">
          <i class="fas fa-bars"></i>
        </a>
        <a href="/" class="easion-logo"><i class="fas fa-file-alt"></i>
      </header>
      <nav class="dash-nav-list">
        <a href="<%= rootPath %>/" class="dash-nav-item" id="menu-home"><i class="fas fa-home"></i> Home</a>
        <a href="<%= rootPath %>/guide" class="dash-nav-item" id="menu-guide"><i class="fas fa-clipboard-check"></i> Guide</a>
        <a href="<%= rootPath %>/structure" class="dash-nav-item" id="menu-structure"><i class="fas fa-sitemap"></i> Site Structure</a>
      </nav>
    </div>
    <div class="dash-app">
      <header class="dash-toolbar">
        <a href="#!" class="menu-toggle">
          <i class="fas fa-bars"></i>
        </a>
        <a href="/" class="easion-logo">Auctor Docs v<%= versionNumber %><!--<img src="/assets/logo.png" height="26rem">--></a>
        <a href="#!" class="searchbox-toggle">
          <i class="fas fa-search"></i>
        </a>
        <span style="margin-left:2em" class="text-danger"><i class="fas fa-exclamation-triangle"></i> THIS SITE IS A WORK-IN-PROGRESS <i class="fas fa-exclamation-triangle"></i></span>
      </header>
      <main class="dash-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-10">
              <%- body %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="<%= rootPath %>/assets/easion/js/easion.js"></script>
  <script>
    var navItem = document.getElementById("<%= page.activeMenu %>");
    navItem.className += ' show';
  </script>
  <script>
    var navItem = document.getElementById("<%= page.activePage %>");
    navItem.className += ' nav-item-active current-page';
  </script>
</body>

</html>