
.current-page:after {
  content: "";
  margin-left: auto;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(81, 81, 81, 0.8);
  -webkit-transform: rotate(270deg);
       -o-transform: rotate(270deg);
          transform: rotate(270deg);
}

.dash-nav-dark .dash-nav-dropdown-toggle:after {
  border-top-color: rgba(255, 255, 255, 0.72); 
}

blockquote {
  margin-left:2rem !important;
}
